.container {
  margin: auto;
}
.jumbotron {
  max-width: 25%;
  border: 0.1px solid grey;
  margin: auto;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
input {
  height: 20px;
}
.user {
  max-width: 18%;
  border: 0.1px solid grey;
  margin: auto;
  padding: 12px;
  font-family: "Times New Roman", Times, serif;
}

.user:hover {
  background-color: #c6c8cc;
}

.text {
  padding: 8px;
  width: 180px;
}
.name {
  font-weight: bold;
  font-size: 25px;
}

.title {
  color: grey;
  font-size: 15;
}

.form {
  margin: auto;
  max-width: 18%;
  padding: 10px;
  display: none;
}

#search {
  width: 65%;
}
button#add_artist {
  margin: 10px;
}

button#add {
  margin-left: 40%;
}

.img img {
  max-width: 72px;
  max-height: 72px;
}

.delete {
  border-radius: 12px;
  background: crimson;
  color: white;
  border: none;
  height: 40px;
}
